spring:
  datasource:
    url: jdbc:mysql://localhost:3306/personalProjectDB
    username: root
    password: test
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        show-sql: true
        format-sql: true
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false
    encoding: utf-8
    prefix: classpath:templates/
    suffix: .html
    mode: HTML 
  ai:
    google:
      genai:
        api-key: AIzaSyAsfJ28urH65katFtm7nZbmun8XmDB4jZM

logging:
    level: 
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.jdbc.bind: TRACE 